NODE_ENV=production
DATABASE=postgres://database.location.url:5432/db-name
PORT=4000
ISSUER=discloser
ORIGIN=*
CRED_ACCESS_PRIVATE_KEY=/etc/opt/discloser/access_private.pem
CRED_ACCESS_PUBLIC_KEY=/etc/opt/discloser/access_public.pem
CRED_ACCESS_EXPIRES_IN=24 hours
CRED_REFRESH_SECRET=my_super_secret_secret
CRED_REFRESH_EXPIRES_IN=7 days
CRED_RESET_SECRET=my_super_secret_reset_secret
LOG_LEVEL=info
